# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
ai_model.pkl
ai_firewall_events.log
waf_events.log
.env

# React / Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
