streamlit
requests
python-whois
beautifulsoup4
pandas
pyopenssl
httpx            # Modern HTTP client 
nest_asyncio     # Fixes Asyncio loop issues in Streamlit 
wafw00f          # Professional WAF detection 
python-Wappalyzer    
nvdlib               
dnspython               
pyjwt     
scikit-learn     # For Isolation Forest (ML Model)
numpy            # For numerical operations          
